<div class="small-12 medium-9 large-6">
    <div class="small-12 columns">
        {{ form_widget(form.ComputopPaydirekt.MerchantID, {'full_name': 'MerchantID'}) }}
        {{ form_widget(form.ComputopPaydirekt.Data, {'full_name': 'Data'}) }}
        {{ form_widget(form.ComputopPaydirekt.Len, {'full_name': 'Len'}) }}
        {{ form_widget(form.ComputopPaydirekt.url) }}

        <a href="{{ form.ComputopPaydirekt.vars.value.url }}">
            {{ 'Pay with Computop Paydirekt' | trans }}
        </a>
    </div>
</div>