<div class="small-12 medium-9 large-6">
    <div class="small-12 columns">
        {{ form_widget(form.computopPayPal.MerchantID, {'full_name': 'MerchantID'}) }}
        {{ form_widget(form.computopPayPal.Data, {'full_name': 'Data'}) }}
        {{ form_widget(form.computopPayPal.Len, {'full_name': 'Len'}) }}
        {{ form_widget(form.computopPayPal.url) }}

        <a href="{{ form.computopPayPal.vars.value.url }}">
            {{ 'Pay with Computop Pay Pal' | trans }}
        </a>
    </div>
</div>